<!DOCTYPE html>
<html>
<head>
  <title>Bitbybit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>



	<h1>Bit By Bit</h1>
	<h3>Bitcoin for the common good</h3>

<%= yield %>

</body>
</html>
